nav {
    background-color: rgb(242, 242, 242);
    height: 60px;
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;

    /* width: 100dvw; */
    font-weight: 700;
    color: #73767d;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;

    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0px;
}

#backButton {
    height: 30px;
    padding: 0px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}