table {
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
    height: auto;
    border: 2px solid white;
}

tr {
    border: 1px solid black;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

tr:hover {
    background-color: rgb(224, 224, 224);
}

thead {
    border: 1px solid black;
}

th {
    text-align: center;
}

td {
    border-top: 1px solid rgba(0, 0, 0, 0.159);
    border-bottom: 1px solid rgba(0, 0, 0, 0.159);
}

#tableCellContainer a {
    width: 100%;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: black;
}

#tableCellContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#tableContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}