@if (!seasons()) {
    <p>Loading...</p>
} @else {
    <section id="tableContainer" class="shadow font_quicksand">
        <section class="flex justify-between w-full px-1 items-center mb-2">
            <span class="font-medium text-[#626363]">
                Seasons
            </span>
            <button (click)="setAddSeasonModal(true)" class="border cursor-pointer border-slate-300 text-slate-800 font-medium shadow rounded-md py-1 px-4">Add</button>
        </section>
        <table class="font_quicksand text-[#626363] border-t-1">
            <thead>
                <th>Id</th>
                <th>Season Name</th>
                <th>Category</th>
            </thead>
            <tbody>
                @for (season of seasons(); track $index) {
                    <tr class="font_quicksand text-[#626363]">
                        <td>
                            <div id="tableCellContainer" class="justify-center">
                                <a [routerLink]="['',{ outlets: { organizationSubroutes: ['organization','1','season',season.id] } }]">
                                    {{ season.id }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div
                                id="tableCellContainer"
                                class="pl-3 justify-start border-l border-r border-[#00000029]"
                            >
                                <a routerLink="{{ 'season/' + season.id }}">
                                    {{ season.seasonName }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div id="tableCellContainer" class="justify-center">
                                <a routerLink="{{ 'season/' + season.id }}">
                                    {{ season.categoryName }}
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
