@if (!seasons()) {
    <p>Loading...</p>
} @else {
    <section id="tableContainer" class="shadow">
        <table class="font_quicksand text-[#626363]">
            <thead>
                <th>Id</th>
                <th>Season Name</th>
                <th>Category</th>
            </thead>
            <tbody>
                @for (season of seasons(); track $index) {
                    <tr class="font_quicksand text-[#626363]">
                        <td>
                            <div id="tableCellContainer" class="justify-center">
                                <a [routerLink]="['',{ outlets: { organizationSubroutes: ['organization','1','season',season.id] } }]">
                                    {{ season.id }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div
                                id="tableCellContainer"
                                class="pl-3 justify-start border-l border-r border-[#00000029]"
                            >
                                <a routerLink="{{ 'season/' + season.id }}">
                                    {{ season.seasonName }}
                                </a>
                            </div>
                        </td>
                        <td>
                            <div id="tableCellContainer" class="justify-center">
                                <a routerLink="{{ 'season/' + season.id }}">
                                    {{ season.categoryName }}
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
