@if (!dates()) {
    <p>Loading...</p>
} @else {
    <section class="bg-white flex shadow rounded-[10px] w-[80%] mx-auto items-center justify-center">
        <table class="w-full font_quicksand text-[#626363]">
            <thead>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </thead>
            <tbody>
                @for (date of dates(); track $index) {
                    <tr>
                        <td class="text-center">
                            {{ date.dateName }}
                        </td>
                        <td class="text-center pl-3 justify-start border-l border-r border-[#00000029]">
                            {{ date.startDate }}
                        </td>
                        <td class="text-center">
                            {{ date.endDate }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}
